<div id="nav">
    <!--
    <img id="logo" src="{{ url_for('static', filename='cam3.png') }}" />
    -->
    <h2 id="nav-header">NugFlix</h2>
    <a class="but-navi" href="{{ url_for('home_bp.home') }}">Home</a>
    <a class="but-navi" href="{{ url_for('search_bp.search') }}">Search</a>
    <a class="but-navi" href="{{ url_for('authentication_bp.login') }}">Register</a>
    <a class="but-navi" href="{{ url_for('authentication_bp.login') }}">Login</a>
    <a class="but-navi" href="{{ url_for('authentication_bp.login') }}">Logout</a>

</div>